finance/cme241/Stanford-CME241.aux
finance/cme241/Stanford-CME241.fdb_latexmk
finance/cme241/Stanford-CME241.fls
finance/cme241/Stanford-CME241.log
finance/cme241/Stanford-CME241.nav
finance/cme241/Stanford-CME241.out
finance/cme241/Stanford-CME241.snm
finance/cme241/Stanford-CME241.synctex.gz
finance/cme241/Stanford-CME241.toc
